:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --accent: #EB43A3;
  --background-elevated: #444;
  --background-mid: #666;
  --background: #242424;
  color: var(--color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --background-elevated: #e3e3e3;
    --background-mid: #ccc;
    --color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  gap: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#data {
  margin: 0 auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-elevated);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.contact-icon {
  fill: transparent;
  width: 200px;
  height: 200px;
  transition: background-size 0.25s ease, opacity 0.25s ease;
  /* background: radial-gradient(#ffffffff 0%, #ffffff22 50%, transparent 70%); */
  /* background-size: 0% 0%; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  opacity: 0.3;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.contact-icon.active {
  /* background-size: 100% 100%; */
  opacity: 1;
  animation: pulse 0.4s ease-in;
  /* stroke: var(--accent); */
  /* opacity: 0.1; */
  /* transform: scale(1.1); */
}


@keyframes spin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  5% {
    transform: scale(1.1) rotate(0deg);
  }
  15% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

.contact-icon.party {
  /* background-size: 100% 100%; */
  opacity: 1;
  animation: spin 4s ease;
  animation-delay: 1s;
  /* opacity: 0.1; */
  /* transform: scale(1.1); */
}

.contact-icon path {
  /* stroke: 1px solid; */
  stroke-width: 4px;
  fill: var(--background-mid);
  /* stroke: var(--color); */
  /* opacity: 0.3; */
  transition: opacity 0.25s ease, fill 0.25s ease, stroke 0.25s ease;
}

.contact-icon.active path {
  fill: #702f60;
}

.contact-icon.top > :nth-child(1), 
.contact-icon.right > :nth-child(2), 
.contact-icon.bottom > :nth-child(3), 
.contact-icon.left > :nth-child(4) {
  fill: var(--color);
  opacity: 1;
}

.contact-icon.active.top > :nth-child(1), 
.contact-icon.active.right > :nth-child(2), 
.contact-icon.active.bottom > :nth-child(3), 
.contact-icon.active.left > :nth-child(4) {
  fill: var(--accent);
  opacity: 1;
}

#challenge-icons svg {
  width: 130px;
  height: 130px;
}
#challenge-icons svg path {
  stroke-width: 5px;
}

#message, #times {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

#message.show, #times.show {
  opacity: 1;
  transform: scale(1);
  transition-delay: 4s;
}

#challenge-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
}

#times {
  font-weight: normal;
  white-space: pre;
  margin-top: -50px;
  transition-delay: 4.2s;
  font-size: 20px;
}

.hint {
  position: absolute;
  right: 10px;
  top: 5px;
}

#hint-button {
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 2;
}

#hint-modal {
  width: 300px;
  margin-top: 50px;
  background: var(--background);
  position: relative;
  padding: 20px 15px;
  z-index: 1;
  border: 1px solid var(--background-mid);
  box-sizing: border-box;
  border-radius: 8px;
  opacity: 0;
  transform-origin: top right;
  transform: scale(0.9);
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
}

#hint-modal h2 {
  margin: 0px 0px 8px 0px;
}

#hint-modal.show {
  opacity: 1;
  transform: scale(1);
}

@keyframes dropin {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
}

#hint-modal p {
  margin: 0px 0px 10px 0px;
  animation: dropin 0.5s ease;
}